{% extends "model-page.html" %}
{% block content %}
<form action="submit" method="POST"> {% csrf_token %}
        <div align="center">
          <h1>Cadastro de Imóveis</h1>
          <table style="font-size: 20px">
                <tr>
                    <td>Nome</td>
                    <td>
                        <input type="text" name="nome" maxlength="40" placeholder="Nome do Edifício">
                    </td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td>
                        <input type="text" name="endereco" maxlength="50" placeholder="Informe o endereco">
                    </td>
                </tr>
                <tr>
                    <td>CEP</td>
                    <td>
                        <input type="text" name="cep" maxlength="7" placeholder="Informe o CEP">
                    </td>
                </tr>
                <tr>
                    <td>Metros</td>
                    <td>
                        <input type="text" name="metros" maxlength="7" placeholder="Metros construídos">
                    </td>
                </tr>
                <tr>
                    <td>Dormitórios</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="dormitorios">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Banheiros</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="banheiros">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Garagem</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="garagem">
                          <option value="Sim">Sim</option>
                          <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Vagas na Garagem</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="vagas_garagem">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Varanda</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="varanda">
                          <option value="Sim">Sim</option>
                          <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td>Foto 1</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" accept="image/*" type="file" id="formFile1" name="foto1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 2</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile2" name="foto2">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 3</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile3" name="foto3">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 4</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile4" name="foto4">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 5</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile5" name="foto5">
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>Tipo de Contrato</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="tipo_contrato">
                          <option value="Venda">Venda</option>
                          <option value="Aluguel">Aluguel</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="tipo_contrato">
                          <option value="SP">São Paulo</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                    </td>
                </tr>
                <tr>
                    <td>Cidade</td>
                    <td>
                        <input type="text" name="cidade" maxlength="40" placeholder="Cidade" name="cidade">
                    </td>
                </tr>
                <tr>
                    <td>Valor</td>
                    <td>
                        <input type="number" name="valor" maxlength="40" placeholder="Valor em R$" name="valor">
                    </td>
                </tr>
                <tr>
                    <td>Condição</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="codicao">
                          <option value="novo">Novo</option>
                          <option value="usado">Usado</option>
                        </select>
                    </td>
                </tr>
                <br>
                <br>
          </table>
          <button type="submit" class="button button1" onclick="alert('Imóvel salvo com sucesso!')">Salvar</button>
          <button type="reset" class="button button1">Reiniciar</button>
            <a href="/">
                <button type="button" class="button button1">Voltar</button>
            </a>
        </div>
    </form>

{% endblock %}