{% extends "model-page.html" %}
{% block content %}
<form action="submit" method="POST"> {% csrf_token %}
        <div align="center">
          <h1>Cadastro de Imóveis</h1>
          <table style="font-size: 20px">
                <tr>
                    <td>Nome</td>
                    <td>
                        <input type="text" name="nome" maxlength="40" placeholder="Nome do Edifício">
                    </td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td>
                        <input type="text" name="endereco" maxlength="50" placeholder="Informe o endereco">
                    </td>
                </tr>
                <tr>
                    <td>CEP</td>
                    <td>
                        <input type="text" name="cep" maxlength="7" placeholder="Informe o CEP">
                    </td>
                </tr>
                <tr>
                    <td>Metros</td>
                    <td>
                        <input type="text" name="metros" maxlength="7" placeholder="Metros construídos">
                    </td>
                </tr>
                <tr>
                    <td>Dormitórios</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="dormitorios">
                          <option value="1" name="dormitorios">1</option>
                          <option value="2" name="dormitorios">2</option>
                          <option value="3" name="dormitorios">3</option>
                          <option value="4" name="dormitorios">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Banheiros</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="banheiros">
                          <option value="1" name="banheiros">1</option>
                          <option value="2" name="banheiros">2</option>
                          <option value="3" name="banheiros">3</option>
                          <option value="4" name="banheiros">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Garagem</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="garagem">
                          <option value="S" name="garagem">Sim</option>
                          <option value="N" name="garagem">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Vagas na Garagem</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="vagas_garagem">
                          <option value="1" name="vagas_garagem">1</option>
                          <option value="2" name="vagas_garagem">2</option>
                          <option value="3" name="vagas_garagem">3</option>
                          <option value="4" name="vagas_garagem">4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Varanda</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="varanda">
                          <option value="S" name="varanda">Sim</option>
                          <option value="N" name="varanda">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td>Foto 1</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" accept="image/*" type="file" id="formFile1" name="image1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 2</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile2" name="image2">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 3</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile3" name="image3">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 4</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile4" name="image4">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Foto 5</td>
                  <td>
                    <div class="mb-3">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" type="file" accept="image/*" id="formFile5" name="image5">
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>Tipo de Contrato</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="tipo_contrato">
                          <option value="V" name="tipo_contrato">Venda</option>
                          <option value="A" name="tipo_contrato">Aluguel</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="estado">
                            <option value="SP" name="estado">São Paulo</option>
                          <option value="AC" name="estado">Acre</option>
                          <option value="AL" name="estado">Alagoas</option>
                          <option value="AP" name="estado">Amapá</option>
                          <option value="AM" name="estado">Amazonas</option>
                          <option value="BA" name="estado">Bahia</option>
                          <option value="CE" name="estado">Ceará</option>
                          <option value="DF" name="estado">Distrito Federal</option>
                          <option value="ES" name="estado">Espírito Santo</option>
                          <option value="GO" name="estado">Goiás</option>
                          <option value="MA" name="estado">Maranhão</option>
                          <option value="MT" name="estado">Mato Grosso</option>
                          <option value="MS" name="estado">Mato Grosso do Sul</option>
                          <option value="MG" name="estado">Minas Gerais</option>
                          <option value="PA" name="estado">Pará</option>
                          <option value="PB" name="estado">Paraíba</option>
                          <option value="PR" name="estado">Paraná</option>
                          <option value="PE" name="estado">Pernambuco</option>
                          <option value="PI" name="estado">Piauí</option>
                          <option value="RJ" name="estado">Rio de Janeiro</option>
                          <option value="RN" name="estado">Rio Grande do Norte</option>
                          <option value="RS" name="estado">Rio Grande do Sul</option>
                          <option value="RO" name="estado">Rondônia</option>
                          <option value="RR" name="estado">Roraima</option>
                          <option value="SC" name="estado">Santa Catarina</option>
                          <option value="SE" name="estado">Sergipe</option>
                          <option value="TO" name="estado">Tocantins</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cidade</td>
                    <td>
                        <input type="text" name="cidade" maxlength="40" placeholder="Cidade" name="cidade">
                    </td>
                </tr>
                <tr>
                    <td>Valor</td>
                    <td>
                        <input type="number" name="valor" maxlength="40" placeholder="Valor em R$" name="valor">
                    </td>
                </tr>
                <tr>
                    <td>Condição</td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="condicao">
                          <option value="N" name="condicao">Novo</option>
                          <option value="U" name="condicao">Usado</option>
                        </select>
                    </td>
                </tr>
                <br>
                <br>
          </table>
          <button type="submit" class="button button1" onclick="alert('Imóvel salvo com sucesso!')">Salvar</button>
          <button type="reset" class="button button1">Reiniciar</button>
            <a href="/">
                <button type="button" class="button button1">Voltar</button>
            </a>
        </div>
    </form>

{% endblock %}