{% extends "model-page.html"%}
{% block content%}
    <div>
        <a href="cadastro/">
            <button type="button" class="button button1">Novo Imóvel</button>
        </a>
        <a href="novo_cliente/">
            <button type="button" class="button button1">Novo Cliente</button>
        </a>
        <h2>Clientes Cadastrados</h2>
        <ul style="font-size: 18px">
            {% for c in cliente %}
                <li>{{ c.nome }}</li>
            {% endfor%}
        </ul>
    </div>
    <!--{%include "model-footer.html" %}-->
{% endblock%}