h1{
    font-family: "Montserrat", "Arial", "sans-serif";
}

div {
  padding: 20px;
  margin: 20;
}

footer{
    background-color: rgba(255, 255, 128, .5);
    text-align: center;
    font-family: "Montserrat", "Arial", "sans-serif";
    font-size: 20px;
}

table, td, tr{
   font-family: "Verdade", "Arial", "sans-serif";
   font-size: 20px;
   border-bottom: 1px solid #ddd;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FFEFD5;
    color: black;
}

.button {
  background-color: #FFFFE0; /* Green */
  border: none;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Verdana"
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: #FFEFD5;
  color: black;
  border: 2px solid #FFC0CB;
}

.button1:hover {
  background-color: #FA8072;
  color: black;
  border: 2px solid #FFC0CB;
  font-weight: bold;
}

.button2 {
  background-color: #FFEFD5;
  color: black;
  border: 2px solid #FFC0CB;
}

.button2:hover {
  background-color: #FA8072;
  color: black;
  border: 2px solid #FFC0CB;
  font-weight: bold;
}






